<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Public+Sans:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="common-styles.css" type="text/css" />
  <title>Relatório Receita Mensal</title>
</head>

<style>
  
</style>

<body>
  <section id="header">

    <img src="https://static.wixstatic.com/media/90538b_85c3f3546fa848e5acb140d217fffc2e~mv2.png/v1/fill/w_278,h_110,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/logo_d0b2cec2.png" alt="Teste" srcset="">
    <span id="subtitle">
      Referência: {{mesReferencia}}/{{anoReferencia}}
    </span>
    <div id="title">
      <h2>{{reportTitle}}</h2>
    </div>
  <setion>
</body>
</html>
