<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Public+Sans:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="common-styles.css" type="text/css" />
  <title>Relatório Receita Mensal</title>
</head>

<body>
  <section id="header">

    <img src="https://static.wixstatic.com/media/90538b_85c3f3546fa848e5acb140d217fffc2e~mv2.png/v1/fill/w_278,h_110,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/logo_d0b2cec2.png" alt="Teste" srcset="">
    <span id="subtitle">
      Referência: {{mesReferencia}}/{{anoReferencia}}
    </span>
    <div id="title">
      <h2>{{reportTitle}}</h2>
    </div>
  </section>
    
  <section class="report">    
    <h2 class="section-title">Resumo de Valores</h2>
    
    <div class="card">
      <span class="label">Valor em Mensalidades Unimed</span>
      <span class="value">R$ 1.000,00</span>
    </div>
    
    <div class="card">
      <span class="label">Valor em Coparticipações Unimed</span>
      <span class="value">R$ 1.000,00</span>
    </div>
    
    <div class="card">
      <span class="label">Valor em Mensalidades Odonto</span>
      <span class="value">R$ 1.000,00</span>
    </div>

    <div class="card">
      <span class="label">Valor em Taxas Associativas</span>
      <span class="value">R$ 1.000,00</span>
    </div>

    <div class="card">
      <span class="label">Valor em Taxas de Adesão</span>
      <span class="value">R$ 1.000,00</span>
    </div>
    
    <div class="card">
      <span class="label">Valor Total</span>
      <span class="value">R$ 200.812,90</span>
    </div>
       
      
  </section>
  
  <section class="report">
    <h2 class="section-title">Grupos Familiares</h2>
    
    <div class="card-titular">
      <span class="value maxwtitle">Francisco Alisson Saraiva Vargas [20]</span>
      <span class="label maxwlabel">Titular</span>
      <span class="value mleft">R$ 19,90</span>
      
    </div>
    
    <div class="card-titular">
      <span class="value maxwtitle">Ana Cecília Marques Póvoa [18]</span>
      <span class="label">Dependente</span>
      <span class="value mleft">R$ 19,90</span>
    </div>
    
    <div class="card-titular">
      <span class="value maxwtitle"></span>
      <span class="label">Taxa Associativa</span>
      <span class="value mleft">R$ 24,24</span>
    </div>
    
    <div class="card-titular">
      <span class="value maxwtitle"></span>
      <span class="label">Taxa de Adesão</span>
      <span class="value mleft">R$ 100,00</span>
    </div>
    
    <div class="card-titular">
      <span class="value maxwtitle"></span>
      <span class="label">Coparticipação</span>
      <span class="value mleft">R$ 2000,00</span>
    </div>
    
    <div class="card-titular">
      <span class="value maxwtitle"></span>
      <span class="label">Odonto</span>
      <span class="value mleft">R$ 40,00</span>
    </div>
    <div class="card-titular" style="margin-bottom: 40px;">
      <span class="value maxwtitle">Valor Total</span>
      <span class="label"></span>
      <span class="value mleft">R$ 40.000,00</span>
    </div>
    
    <div class="card-titular">
      <span class="value maxwtitle">Klaus Rene Trein Laino [39]</span>
      <span class="label maxwlabel">Titular</span>
      <span class="value mleft">R$ 220,90</span>
      
    </div>
    
    <div class="card-titular">
      <span class="value maxwtitle">Flaviana Laino [32]</span>
      <span class="label">Dependente</span>
      <span class="value mleft">R$ 176,90</span>
    </div>
    
    <div class="card-titular" style="margin-bottom: ">
      <span class="value maxwtitle">Valor Total</span>
      <span class="label"></span>
      <span class="value mleft">R$ 397,80</span>
    </div>
  </section>
  
  
</body>
</html>
